.wrapper {
  width: 100%;
  padding: 30px 16px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: aliceblue;
}

.alert {
  font-size: 15px;
  font-weight: 700;
  z-index: 1 !important;
}

@media (min-width: 1200px)  {
  .wrapper {
    max-width: 500px;
    padding: 30px 36px;
  }
  .alert {
    font-size: 19px;
  }
}

