.label {
  font-weight: bold;
  font-size: 14px;
}

.input {
  height: 40px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 130%;
  color: #242b36;
  box-shadow: none !important;
  background-color: transparent !important;

  &:hover {
    border: 1px solid #348f50 !important;
  }

  &:focus {
    color: black !important;
  }
  &:focus::-webkit-input-placeholder {
    color: black !important;
  }
  &:focus::-moz-placeholder {
    color: black !important;
  }
}

.disabled {
  &:hover {
    border: 1px solid grey !important;
  }

  &:focus {
    color: grey !important;
  }
  &:focus::-moz-placeholder {
    color: grey !important;
  }
}

.select {
  height: 40px !important;
  font-size: 14px !important;
}

.btn {
  width: 100%;
  margin-top: 20px;
  height: 40px !important;
  font-size: 15px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
}

.deleteBtn {
  margin-top: 11px;
}

@media (min-width: 1200px) {
  .label {
    font-size: 18px;
  }
  .btn {
    margin-top: 40px;
    font-size: 18px !important;
    height: 50px !important;
  }
  .select {
    font-size: 18px !important;
  }
  .deleteBtn {
    margin-top: 11px;
  }
}
