.app {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 80px 16px 40px;
  background: linear-gradient(to right, rgba(52, 143, 80, 0.2), rgba(86, 180, 211, 0.2));
}

.addButton {
  border-radius: 50% !important;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
}

html,
body {
  margin: 0;
  height: 100%;
 
  &::-webkit-scrollbar {
    width: 7px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
  }
}

.css-yk16xz-control {
  height: 50px !important;
}