.navbar {
  position: fixed !important;
  top: 0;
  padding: 10px 16px 10px !important;
  background: rgba(0, 0, 0, 0.25);
  background-color: #242b36;
  background: #348f50; 
  background: linear-gradient(to right, #348f50, #56b4d3); 
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  z-index: 10 !important;
  button {
    outline: none !important;
    padding: 0 !important;
  }
  span {
    background-image: url(../../images/menu-icon.svg) !important;
  }
}

.collapse {
  padding: 30px 20px 0;
}

.item {
  text-align: center;
  a {
    text-decoration: none !important;
    color: white !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  margin-bottom: 30px;
}

.title {
  color: white !important;
  letter-spacing: 1px;
  font-size: 14px !important;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  i {
    color: aliceblue;
    padding-right: 10px;
    font-size: 20px;
  }
}

@media (min-width: 1210px) {
  .navbar {
    padding: 20px 32px  !important;
  }
  .collapse {
    padding: 0;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
  }

  .item {
    margin-bottom: 0;
    margin: 0;
    padding-left: 40px;
  }
  .title {
    font-size: 20px !important;
    i {
      font-size: 27px;
      padding-right: 20px;
    }
  }
}
