.scrollTable {
  box-shadow: -4px 6px 12px 0px rgba(34, 60, 80, 0.2) !important;
  border-right: 1px solid #dee2e6;
  overflow: auto !important;
  table-layout: auto !important;
  max-width: 100% !important;
}
.wrapper {
  width: 100%;
  max-width: 100%;
  input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 130%;
    color: #242b36;
    box-shadow: none !important;
    border: 1px solid #636973 !important;
    background-color: transparent !important;

    &:hover {
      border: 1px solid #348f50 !important;
    }

    &:focus {
      color: black !important;
    }
    &:focus::-webkit-input-placeholder {
      color: black !important;
    }
    &:focus::-moz-placeholder {
      color: black !important;
    }
  }
}
.table {
  margin-bottom: 0 !important;
  margin-bottom: 0;
}
