body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat";
  height: 100%;
  background: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.react-bootstrap-table .table thead th {
  vertical-align: middle !important;
  text-align: center;
}
td {
  text-align: center;
  vertical-align: initial !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
